h1 {
    text-align: center;
    color: #521955;
}

.review-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #521955;
    padding: 16px;
    margin: 16px 0;
    background-color: #f9f9f9;
}