.header {
    text-align: center;
    margin-bottom: 16px;
}

.add-review {
  display: flex;
  flex-direction: column; /* Stack input and button vertically */
  align-items: center;    /* Center horizontally */
  gap: 8px;               /* Space between input and button */
  margin: 16px 0;
}

.add-review button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background-color: #521955;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.add-review button:hover {
  background-color: #421442;
}

