<div class ="header"><h1>User Reviews</h1></div>

<div class ="add-review">
<input type="text" 
       [value]="newReviewText()" 
       (input)="newReviewText.set($any($event.target).value)" 
       placeholder="Write a review">
</div>
<div class ="button"><button (click)="addNewReview()">Add Review</button></div>

@if (userReviews().length > 0) {
  <ul>
    @for (review of userReviews(); track review.id) {
      <app-user-review-detail [review]="review" />
    }
  </ul>
} @else {
  <p>No reviews available.</p>
}
