.title {
    color: #E66B00;
    font-size: 24px;
    font-family: 'Ubuntu';
}

.director {
    color: #e8ddc1;
    margin: 3;
    font-family: 'Ubuntu Sans';
}

.genre {
    color: #e8ddc1;
    margin: 3;
    font-family: 'Ubuntu Sans';
}

.release-date {
    color: #e8ddc1;
    margin: 3;
    font-family: 'Ubuntu Sans';
}