<h2>Watched Movies</h2>

<!-- Displays message when array has objects -->
@if (this.watchedMovieService.watchedMovies.length > 0){
  <p>Displaying {{ this.watchedMovieService.watchedMovies().length }} watched movies</p>
}
<!-- Displays Objects -->
<ul>
  @for (watchedMovie of this.watchedMovieService.watchedMovies(); track watchedMovie.id) {
    <li class="watched-movie-item">
      <app-watched-movie-detail [watchedMovie]="watchedMovie" />
    </li>
  } @empty { <!-- Displays when watchedMovies is empty -->
    <p>There are no watched movies</p>
  }
</ul>


<div class ="add-watched-movie">
  <input type="text"
    [value]="newWatchedMovieDate()"
    (input)="newWatchedMovieDate.set(($event.target).value)"
    placeholder="Enter watched date"
  >
  <button (click)="addNewWatchedMovie()">Add Watched Movie </button>
</div>